<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="FactManager">
    <test name="FactManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="facts"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.factmanager.test.FactsTests"/>
        </classes>
    </test>
</suite>
