<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="FactManager">
    <test name="FactManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <exclude name="factsServices"/>
                <include name="restApiTest"/>
                <include name="xmlServices"/>
                <include name="removeFactValue"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.factmanager.test.rest.RestApiTest"/>
            <class name="com.biit.factmanager.test.FactsServicesTests"/>
            <class name="com.biit.factmanager.test.XlsServicesTests"/>
            <class name="com.biit.factmanager.test.DroolsXlsServicesTests"/>
            <class name="com.biit.factmanager.test.FactRemoveValueTests"/>
        </classes>
    </test>
</suite>
